<style>
  @import url('https://fonts.googleapis.com/css?family=Raleway');
</style>
<header>
  <img src="https://h5p.org/sites/default/files/styles/medium-logo/public/logos/drag-and-drop-icon.png?itok=0dFV3ej6">
  <h1>Drag And Drop</h1>
</header>
<ul>
  <li>
    <a [routerLink]="['/mainPage']">
     <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Main Page
    </a>
  </li>
  <li>
    <a [routerLink]="['/addEmployee']">
      <span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Employee
    </a>
  </li>
  <li>
    <a [routerLink]="['/makeTeams']">
      <span class="glyphicon glyphicon-new-window"></span>&nbsp;&nbsp;Make Teams
    </a>
  </li>
</ul>